//Color classes
$blue-bright-color: rgba(0, 0, 255, 0.19);
$yellow-bright-color: rgba(255, 255, 0, 0.19);
$brown-bright-color: rgba(255, 111, 0, 0.18);
$red-bright-color: rgba(255, 15, 5, 0.19);
$burgundy-bright-color: rgba(255, 53, 53, 0.18);
$orange-bright-color: rgba(255, 89, 0, 0.18);
$grey-bright-color: rgba(206, 194, 255, 0.9);
$background-color: #fff902;
$border-color: #6ca022;
$on-hover-border-color: #40641c;
$menu-font-color: #6ca022;
//Images
