@import "../base/variables";

//Top Bar
.top-bar {
  background-color: $background-color!important;
}

.top-bar a {
 color: $menu-font-color;
}

.top-bar a:active {
  color: green!important;

}

.top-bar a:hover {
  border-bottom: .1rem solid $border-color;
  color: $menu-font-color;
}

ul.dropdown.menu {
  background-color: transparent;
  border-bottom: none;
}

.icon-medium {
  font-size: 2rem;
}

.icon-container-setup {
  border: .1rem solid #6ca022;
  color:  #6ca022;
  background-color: $background-color;
  border-radius: 100%;
  padding: .2rem .6rem .2rem .5rem;
}

button.button {
  margin-bottom: 0;
}

.padding-button-container {
  padding-bottom: 0!important;
  padding-top: 1.3rem!important;
}

.padding-for-slider-container {
  padding: 1rem 1rem 1rem 1rem!important;
  margin-bottom: 0!important;
}

.link-mix {
  padding: .1rem;
  border: .1rem solid $border-color;
  color:  $menu-font-color;
  cursor: pointer;
  background-color: $background-color;
  text-shadow: 0 0 .1rem grey;
  text-align: center;
}

.section:hover div {
  border: .1rem solid $on-hover-border-color;
  padding: .2rem;
}

.border-bottom {
  border-bottom: .1rem solid grey;
}

.background-img {
  background: url("/images/view2.jpg") center;
  background-size: cover;
  padding: .5rem;
  min-height: 18vh!important;
}

.padding-top {
  padding-top: 40%;
}

.padding-bottom {
  padding-bottom: 55%;
}

.background-transparent {
  background-color: transparent;
}

.background-blue {
   background-color: rgba(0, 0, 255, 0.18);
 }

.background-pink {
  background-color: rgba(255, 0, 139, 0.18);
}

.border-menu {
  border-top: .1rem solid silver;
  border-right: .1rem solid silver;
  border-bottom: .1rem solid silver;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

.cell-padding {
  padding: 0 .4rem .4rem .4rem;
}
.my-header{
  .header-first-cell{
    background-color: $yellow-bright-color;
  }
  .header-second-cell{
    background-color: $orange-bright-color;
  }
  .header-third-cell{
    background-color: $red-bright-color;
  }
}

.first-cell{
  background-color: transparent;
}

.second-cell{
  background-color: $brown-bright-color;
  .second-inner-first-cell{
    background-color: $red-bright-color;
  }

  .second-inner-second-cell{
    background-color: $burgundy-bright-color;
  }
}

.third-cell{
  background-color: $orange-bright-color;
}

.fourth-cell{
  background-color: $grey-bright-color;
}



.img-wrap{
  float: right;
}

.slider{
  text-align: center;
  background-color: inherit!important;
  margin-top: 0!important;
  /* the parent */
  .slick-list {
    margin: 0;
  }
  .slick-dots li{
    font-size: small;
  }
}

/* Dots */
.slick-slider
{
  margin-bottom: 0;
}

.slick-dots
{
  position: absolute;
  margin: 0 0 0 40%;

  display: block;

  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;
  margin: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
  margin: 0;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
  margin: 0;
}
.slick-dots li button:before
{
  font-size: small;
  line-height: 20px;

  position: absolute;
  margin: 0 0 5px 0;

  content: url('http://www.akmmos.ru/bitrix/templates/main/img/bullet.png');
  text-align: center;

  opacity: .45;
  color: #6d6d6d;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  opacity: .75;
  color: #464646;
}


